.destacado {
  background-color: #ffeeba;     /* fondo amarillo suave */
  border: 4px solid #f14107;     /* borde naranja */
  padding: 30px;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* sombra suave */
  font-weight: bold;
  text-align: center;
}